body {
    font-size: 1vw;
    margin: 0;
    @media only screen and (max-width: 1024px){
        font-size: 16px;
    }
}

b, strong {
    font-weight:bold;
}

* {
    outline: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}


.section {
    position: relative;
    .section-wrapper {
        padding: em(90) em(200);
        
        @media only screen and (max-width: 1024px){
            padding: em(70) em(25);
        }
        
    }
}