
$base : 16;
$base-height : 22.5;


@mixin textStyle( $color , $size: $base, $lspace, $lheight: $base-height , $weight: normal ) {
    color: $color;
    font-size: em($size);
    letter-spacing: #{$lspace/$base}em;
    line-height:  $lheight/$size;
    font-weight: $weight;
}

@mixin bgSettings($size , $repeat , $position ) {
    background-size: $size;
    background-repeat: $repeat;
    background-position: $position;
}