.section--two-col-container {
    .two-col-wrapper {
        .item-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .item {
                margin-bottom: em(70);
                width: calc(50% - 6.063em);
                @media only screen and (max-width: 767px){
                    width: 100%;
                    margin-bottom: em(25);
                }
                .item-header-wrapper {
                    margin-bottom: em(30);
                    h4 {
                        color: $black;
                        text-transform: uppercase;
                    }
                }
                .item-content-wraper {
                    p{

                    }
                }
            }
        }
        .item-btn-container {
            width: 100%;
            text-align: center;
        }
    }
}